.header-wrapper {
  position: relative;
  padding-top: 7rem;
  background-position: top center;
}
/* .mobile-menu_wrapper {
  position: absolute;
  background-color: rgba(2, 39, 65, 0.4);
  width: 100%;
  height: calc(100% - 7.2rem);
  max-height: 100%;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  z-index: 96;
}
.mobile-menu_wrapper--active {
  visibility: visible;
  opacity: 1;
  pointer-events: inherit;
} */
.mobile-menu {
  position: fixed;
  left: 0;
  top: -100%;
  width: 100%;
  background: rgb(7, 19, 31);
  background: linear-gradient(
    281deg,
    rgba(7, 19, 31, 1) 0%,
    rgba(6, 32, 50, 1) 35%,
    rgba(6, 19, 27, 1) 100%
  );
  overflow: scroll;
  height: 100%;
  transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  z-index: 98;
}
.mobile-menu_list {
  text-align: center;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.5);
  padding-top: 4rem;
  padding-bottom: 5rem;
}
.mobile-menu_item:not(:last-child) {
  margin-bottom: 3rem;
}
.mobile-menu_link {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--main-text-color);
  position: relative;
}
button.mobile-menu_link--current {
  position: relative;
}
.mobile-menu_link::after,
.mobile-menu_link::before {
  opacity: 0;
}
.mobile-menu_link::after {
  left: 0;
  bottom: 0;
}
.mobile-menu_link::before {
  right: 0;
  top: 0;
}

.mobile-menu_link:hover::after,
.mobile-menu_link:hover::before {
  transform: translate(0, 0);
  opacity: 1;
}
button.mobile-menu_link--current::after,
.mobile-menu_link::after {
  display: block;
  content: "";
  height: 1.4rem;
  width: 1.4rem;
  position: absolute;
  transition: all 0.35s ease;
  /* opacity: 0; */
  left: -3rem;
  bottom: -1rem;
  border-bottom: 0.3rem solid #014344;
  border-left: 0.3rem solid var(--brand-color);
  transform: translate(100%, -50%);
  -webkit-transform: translate(100%, -50%);
  -moz-transform: translate(100%, -50%);
  -ms-transform: translate(100%, -50%);
  -o-transform: translate(100%, -50%);
}
button.mobile-menu_link--current::before,
.mobile-menu_link::before {
  display: block;
  content: "";
  right: -3rem;
  top: -1.5rem;
  border-top: 0.3rem solid var(--brand-color);
  border-right: 0.3rem solid #014344;
  transform: translate(-100%, 50%);
  -webkit-transform: translate(-100%, 50%);
  -moz-transform: translate(-100%, 50%);
  -ms-transform: translate(-100%, 50%);
  -o-transform: translate(-100%, 50%);
  height: 1.4rem;
  width: 1.4rem;
  position: absolute;
  transition: all 0.35s ease;
  /* opacity: 0; */
}
.mobile-menu_link::before {
  right: -1.5rem;
  top: -0.75rem;
}
.mobile-menu_link::after {
  left: -1.5rem;
  bottom: -0.5rem;
}
button.mobile-menu_link--current:hover button.mobile-menu_link--current::after {
  opacity: 1;
  left: -3rem;
  bottom: -1rem;

  /* left: -1.5rem;
  bottom: -0.5rem;
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none; */
}
button.mobile-menu_link--current:hover
  button.mobile-menu_link--current::before {
  right: -3rem;
  top: -1rem;
  /* right: -1.5rem;
  top: -0.75rem;
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none; */
  opacity: 1;
}
button.mobile-menu_link--current::after,
button.mobile-menu_link--current::before {
  opacity: 1 !important;
}
.menu--link {
  border-bottom: 0;
  padding-bottom: 0.3em;
  text-decoration: none;
  position: relative;
}
.nav_item--highlight .mobile-menu_link::after,
.nav_item--highlight .mobile-menu_link::before {
  display: none;
}
.mobile-menu--active {
  top: 0;
  padding-top: 7rem;
}
.header {
  /* background: rgb(7, 19, 31); */
  background: linear-gradient(
    281deg,
    rgba(7, 19, 31, 0.9) 0%,
    rgba(6, 32, 50, 0.9) 35%,
    rgba(6, 19, 27, 0.9) 100%
  );
  height: 7rem;
  z-index: 9999;
  position: absolute;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 0.1rem solid var(--border-top-color);
}
.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
}
.header_logo {
  display: block;
}
.header_logo__image {
  width: 12rem;
}
.js_logo_link {
  cursor: pointer;
}
.nav {
  display: none;
}
.mobile-menu_btn {
  width: 4rem;
  height: 4rem;
  position: relative;
}
.mobile-menu_btn__span {
  position: absolute;
  width: 2.5rem;
  height: 0.2rem;
  display: block;
  background-color: var(--main-text-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.mobile-menu_btn__span::before,
.mobile-menu_btn__span::after {
  content: "";
  display: block;
  width: 100%;
  background-color: var(--main-text-color);
  height: 0.2rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.mobile-menu_btn__span::before {
  top: -0.7rem;
}
.mobile-menu_btn__span::after {
  top: 0.7rem;
}
.mobile-menu_btn:hover .mobile-menu_btn__span,
.mobile-menu_btn:focus .mobile-menu_btn__span,
.mobile-menu_btn:hover .mobile-menu_btn__span::before,
.mobile-menu_btn:focus .mobile-menu_btn__span::before,
.mobile-menu_btn:hover .mobile-menu_btn__span::after,
.mobile-menu_btn:focus .mobile-menu_btn__span::after {
  background-color: rgba(255, 255, 255, 0.7);
}
.mobile-menu_btn--active .mobile-menu_btn__span {
  background-color: transparent !important;
}
.mobile-menu_btn--active .mobile-menu_btn__span::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  top: 0;
}
.mobile-menu_btn--active .mobile-menu_btn__span::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  top: 0;
}
.nav_item--highlight {
  position: relative;
}
.nav_img--highlight {
  position: absolute;
  left: 50%;
  bottom: -0.5rem;
  width: 10rem;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
}

.nav_item--highlight .nav_link:hover,
.nav_item--highlight .nav_link:focus {
  text-shadow: none;
}
.nav_item--highlight:hover .nav_img--highlight,
.nav_item--highlight:focus .nav_img--highlight {
  width: 11rem;
}

@media screen and (min-width: 768px) {
  .header_logo__image {
    margin-bottom: .5rem;
  }
  .header-wrapper {
    padding-top: 10rem;
  }
  .mobile-menu,
  .mobile-menu_btn,
  .mobile-menu_wrapper {
    display: none;
  }
  .header {
    height: 10rem;
  }
  .nav {
    display: block;
    margin-left: auto;
  }
  .nav_list {
    display: flex;
    padding-top: 2rem;
  }
  .nav_item:not(:last-child) {
    margin-right: 3rem;
  }
  .nav_link {
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--main-text-color);
    /* padding-bottom: 0.4em; */
    border-bottom: 0.1rem solid transparent;
  }
  /* ================================================================== */

  /* button.mobile-menu_link--current::after,
  button.mobile-menu_link--current::after {
    opacity: 1;
    left: -2rem;
    bottom: -0.75rem;
  }

  button.mobile-menu_link--current::before,
  button.mobile-menu_link--current::before {
    right: -2rem;
    top: -1.4rem;
    opacity: 1;
  }
  .mobile-menu_link::after {
    left: -1.5rem;
    bottom: -0.75rem;
  }
  .mobile-menu_link::before {
    right: -1.5rem;
    top: -0.75rem;
  } */
  /* ================================================================== */
}
@media screen and (min-width: 1024px) {
  
  .header_logo__image {
    width: 15rem;
  }
}
@media screen and (min-width: 1200px) {
  .header-wrapper {
    padding-top: 11.8rem;
  }
  .header {
    height: 11.9rem;
  }
  .header_content {
    padding: 2rem 4rem 2.5rem 4rem;
  }
  
  /* .header_logo__image {
    width: 10rem;
  } */
  .nav_item:not(:last-child) {
    margin-right: 5rem;
  }
  .nav_img--highlight {
    width: 11rem;
  }
  .nav_item--highlight:hover .nav_img--highlight,
  .nav_item--highlight:focus .nav_img--highlight {
    width: 12rem;
  }
}
@media screen and (min-width: 1440px) {
  .nav_link {
    font-size: 2rem;
  }
  .mobile-menu_link {
    font-size: 2rem;
  }
}


@media screen and (min-width: 1024px){
	.header_logo__image{
		width: 33rem;
	}
}